<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rice Leaf Disases </title>
</head>
<body>
  <div class="container">
    <div class="col-lg-12">
      <center><h1 style="padding:30px;font-weight: 600 !important;font-size: 3.2em">DISEASE PREDICTION</h1></center>
    </div>
   <div class="col-lg-12">
      <center><form  class="form-inline" action = "/predict" method = "post" enctype="multipart/form-data">
        <a href="/" class="btn btn-lg btn-success"><i class="fa fa-home"></i>  Home Page</a>
      </form></center>
    </div>
    <div class="col-lg-3" style="padding-top:30px">
      
        <img src="{{ user_image }}" alt="User Image" class="img-thumbnail" style="width:250px;height:250px;float:right">
    
    </div>
    <div class="col-lg-5 hello" style="padding-top:30px">
      <h4>Disease name is <mark style="background-color:#04aa6d;color:white;border-radius:5px">{{fruit}}</mark></h4>
      <h4>Probabilities : <mark style="background-color:#04aa6d;color:white;border-radius:5px">{{ "%.2f"|format(prob*100) }}%</mark></h4>
    </div>
  </div>
</div>
</body>
</html>